<h2>PARENT</h2>
<p>message: {{ childMessage }}</p>
<!-- 
    CHILD USING SERVICE
    CHILD USING OUTPUT EVENT
    CHILD USING SUBJECT
  -->
<div class="buttons">
  <button (click)="serviceChange()">Use Service</button>
  <button (click)="inputEventClicked()">Use Input Property</button>
  <button (click)="parentUsingSubject()">Use Observable</button>
</div>

<div class="child">
  <child-component
    [parentMessage]="parentMessage"
    (onChildMessage)="outputEventClicked($event)"
  ></child-component>
</div>
