* {
  background-color: rgb(226, 253, 255);
}

.parent {
  width: 95%;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  .parentInfo {
    button {
      margin-right: 20px;
    }

    h2 {
      text-align: center;
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }
  }

  .child {
    align-self: flex-end;
    padding: 40px;
    background-color: rgb(218, 245, 184);
    border-radius: 20px;
  }
}
