.presentation {
  height: 100%;
  background-color: #a9aca9;
  padding-top: 60px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  h1 {
    text-align: center;
    font-size: 60px;
  }

  h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
  }

  p {
    font-size: 22px;
    text-align: center;
    margin-top: 60px;
  }
}
